/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Oswald);

/* SOME RESETS */
html, body {
  margin: 0;
  padding: 0;
}

/* GLOBAL STYLES */
body {
  font-size: 62.5%;
  font-family: 'Oswald';
}


/* WRAPPER */
.wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/* HEADER */
header {

}
