/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Oswald);

/* SOME RESETS */
html, body {
  margin: 0;
  padding: 0;
}

/* GLOBAL STYLES */
body {
  font-size: 62.5%;
  font-size: 1rem;
  font-family: 'Oswald';
}


/* WRAPPER */
.wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/* HEADER */
header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  background: #293D63;
  padding: 25px 25px;
  color: white;
  box-shadow: 0 5px 5px grey;
}

header h1 {
  font-size:
}
